.profile {
  width: 480px;

  background-color: #ddd;
  border-radius: 15px;
  padding: 15px;
}
.description {
  display: flex;
  flex-direction: column;
  background-color: #fff;

  /* padding: 40px; */
}

.description p {
  margin: 50px auto;
  margin-top: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 50px auto;
  border: solid 1px red;
  background-color: aqua;
}
.name {
  font-size: 2em;
}

.stats {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0;

  list-style: none;
  background-color: #eee;
}

.stats li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  flex-basis: 33%;
  border: solid 1px black;
}

.quantity {
  font-weight: 700;
  margin-top: 8px;
}

/* .tag{} */
/* .location{} */

.label {
  margin-right: 20px;
}
.quantity {
  color: darkblue;
}
