.statistics {
  width: 480px;
  margin: 50px auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2em;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  background-color: #eee;
  padding: 0;
}

.list .item {
  display: flex;
  flex-direction: column;
  /* flex-basis: calc(480px / 5); */

  justify-content: center;
  align-items: center;
  padding: 10px;
}
