.transactionHistory {
  width: 640px;
  margin: 50px auto;
}

.header {
  background-color: aqua;
}

th,
td {
  padding: 24px;
}

.item {
  background-color: beige;
}

.item:nth-child(even) {
  background-color: darkseagreen;
}
